<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>채팅중!</title>
<link rel="stylesheet" href="/css/chat-main.css" />
</head>
<body>
	<noscript>
		<h2>Sorry! Your browser doesn't support Javascript</h2>
	</noscript>

	<div id="username-page">
		<div class="username-page-container">
			<h1 class="title">채팅방에 접속하세요</h1>
			<h1>
				환영합니다! <span th:text="${user.userNickName}"></span>
			</h1>
			<form id="usernameForm" name="usernameForm">
				<div class="form-group">
					<input type="text" id="name" placeholder="사용할 닉네임"
						autocomplete="off" class="form-control"
						th:value="${user.userNickName}" readonly />
				</div>
				<div class="form-group">
					<button type="submit" class="accent username-submit">접속</button>
				</div>
			</form>
		</div>
	</div>

	<div id="chat-page" class="hidden">
		<div class="chat-container">
			<div class="chat-header">
				<h2>채팅방에 입장하셨습니다.</h2>
			</div>
			<div class="connecting">연결중 ...</div>
			<ul id="messageArea">

			</ul>
			<form id="messageForm" name="messageForm" nameForm="messageForm">
				<div class="form-group">
					<div class="input-group clearfix">
						<input type="text" id="message" placeholder="채팅을 입력하세요"
							autocomplete="off" class="form-control" />
						<button type="submit" class="primary">입력</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script src="/js/chat.js"></script>
</body>
</html>