<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>일개미</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">
<style type="text/css"></style>
<style>
.selectpicker {
	color: #677083;
	margin: 10px;
	border: none;
	width: fit-content;
}
</style>
<link href="../css/style.css" rel="stylesheet">
</head>
<body>
	<!-- Topbar Start -->
	<div class="container-fluid px-5 d-none d-lg-block">
		<div class="row gx-5 py-3 align-items-center">

			<div class="col-lg-6">
				<div class="d-flex align-items-center justify-content-center">
					<a href="index.html" class="navbar-brand ms-lg-5"> </a>
				</div>
			</div>

		</div>
	</div>

	<!-- Products Start -->
	<div class="container-fluid">
		<div class="container pb-5">
			<div class="mx-auto text-center mb-5" style="max-width: 500px;">
				<h1 class="display-5">
					<a href="#" class="btn btn-secondary" onclick="workCreate()">구인공고
						등록</a>
				</h1>
				<br>
				<h5 class="text-uppercase">요즘 뜨는 일자리</h5>
			</div>

			<div class="owl-carousel product-carousel px-5">
				<div th:each="article,i: ${workp}">
					<div th:onclick="cardView([[${article.listCode}]])">
						<div
							class=" product-item position-relative bg-white d-flex flex-column text-center">
							<img class="img-fluid mb-4" th:src="${imgsrcp[i.index]}" />
							<h5 class="mb-3">&#91;[[${article.listRegion}]]&#93;[[${article.listTitle}]]</h5>
							<h6 class="mb-3">금액:[[${article.listAmount}]]</h6>
							<div class="btn-action d-flex justify-content-center">
								조회수:[[${article.listCnt}]]</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="mx-auto text-center mb-5" id="workSelect"
		style="max-width: 500px;">
		<h1 class="display-5"></h1>
		<nav>
			<select class="selectpicker" id="region" data-size="4"
				th:onchange="onChangeSelect()">
				<option value="">구군별</option>
				<option value="지역무관">지역무관</option>
				<option value="관악구">관악구</option>
				<option value="양천구">양천구</option>
				<option value="영등포">영등포</option>
				<option value="구로구">구로구</option>
			</select> <select class="selectpicker" id="category" data-size="4"
				th:onchange="onChangeSelect()">
				<option value="">카테고리별</option>
				<option value="주거">주거</option>
				<option value="사무">사무</option>
				<option value="반려동물">반려동물</option>
				<option value="대행">대행</option>
				<option value="_ppm_wp_password_expired">기타</option>
			</select> <select class="selectpicker" id="amount" data-size="4"
				th:onchange="onChangeSelect()">
				<option value="">금액별</option>
				<option value="10000">10,000원 이하</option>
				<option value="50000">50,000원 이하</option>
				<option value="50001">50,000원 이상</option>
			</select>


		</nav>
	</div>

	<div class="container px-4 px-lg-5 my-5">
		<section class="">
			<div class="container px-4 px-lg-5 mt-5">
				<div
					id="ListContent" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
					<div class="col mb-5" th:each="article,i: ${work}">
						<div class="card h-100"
							th:onclick="cardView([[${article.listCode}]])">
							<!-- Product image-->
							<img class="card-img-top" th:src="${imgsrc[i.index]}" />
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
									&#91;[[${article.listRegion}]]&#93;
									<h5 class="card-title">[[${article.listTitle}]]</h5>
									<!-- Product price-->
									금액:[[${article.listAmount}]]<br>
									조회수:[[${article.listCnt}]]
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>


	<!-- JavaScript Libraries -->
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="../lib/easing/easing.min.js"></script>
	<script src="../lib/waypoints/waypoints.min.js"></script>
	<script src="../lib/counterup/counterup.min.js"></script>
	<script src="../lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="../js/main.js"></script>
	<script>
		function cardView(listCode) {
			console.log(listCode);
			$.post("/jsp/view", {
				listCode : listCode
			}, function(data) {
				console.log(listCode);
				$('#content').html(data);
			})
		}
		workCreate = function() {
			$("#content").load("/jsp/create");
		}

		function onChangeSelect() {
			 $.ajax({
				url : "/jsp/categoryCheck",
				type : "post",
				data : "amount=" + $("#amount").val()+"&category=" + $("#category").val()+"&region=" + $("#region").val(),
				success : function(data) {
	                $("#ListContent").replaceWith(data);
				},
				error : function() {
					alert("error");
				}
			}) 
		}
	</script>
</body>

</html>